.container {
  max-width: var(--max-width);
  margin: 0 auto;
  margin-top: 60px;
}

.wrapper {
  display: grid;
  grid-template-columns: 1.27fr 1fr;
  gap: 64px;
}

.title {
  color: var(--light-colors-black-light, #000);

  /* 26px - Heading 2 */
  font-family: DM Sans;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px; /* 134.615% */
}

.price {
  color: var(--light-colors-accent-light, #a18a68);

  /* 20px - Heading 4 */
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 130% */
  text-transform: capitalize;
  margin-top: 23px;
}

.ratingWrapper {
  display: flex;
  gap: 24px;
  margin-top: 64px;
  align-items: center;
}

.ratings {
  color: var(--light-colors-dark-gray-light, #707070);

  /* 16px - Heading 5 */
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 168.75% */
}

.descr {
  color: var(--light-colors-dark-gray-light, #707070);

  /* 16px - Heading 5 */
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 168.75% */
  margin-top: 19px;
}

.ratingWrapper {
  display: flex;
  gap: 23px;
  align-items: center;
}

.counter {
  display: flex;
  justify-content: center;
  gap: 24px;
  align-items: center;
  width: 102px;
  height: 53px;
  flex-shrink: 0;
  border-radius: 4px;
  background: var(--light-colors-light-gray-light, #efefef);

  color: var(--light-colors-dark-gray-light, #707070);

  /* 16px - Heading 5 */
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 168.75% */
}

.btn {
  border: none;
  background: none;
  color: var(--light-colors-dark-gray-light, #707070);

  /* 16px - Heading 5 */
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 168.75% */
  cursor: pointer;
}

.add {
  width: 360px;
  height: 53px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid var(--light-colors-black-light, #000);
  background: var(--light-colors-white-light, #fff);
  cursor: pointer;

  color: var(--light-colors-black-light, #000);

  /* 16px - Body large */
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.media {
  display: flex;
  gap: 20px;
  margin-top: 80px;
  height: 19px;
}
.icon {
  cursor: pointer;
}

.line {
  height: 100%;
  width: 1px;
  background-color: #707070;
}

.sku {
  margin-top: 37px;
  color: var(--light-colors-black-light, #000);

  /* 16px - Heading 5 */
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 168.75% */
}

.sku span {
  color: var(--light-colors-dark-gray-light, #707070);
}

.categories {
  color: var(--light-colors-black-light, #000);

  /* 16px - Heading 5 */
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 168.75% */
}

.categories span {
  color: var(--light-colors-dark-gray-light, #707070);
}
.cardWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 47px;
}
