.wrapper {
  max-width: var(--max-width);
  margin: 0 auto;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}

.menuWrapper {
  display: flex;
  justify-content: space-between;
  width: 30%;
  align-items: center;
}
.line {
  width: 1px;
  height: 17px;
  background-color: var(--light-colors-dark-gray-light);
}
.icon {
  transform: translateY(3px);
}

.logo {
  color: var(--light-colors-black-light, #000);
  font-family: Allerta Stencil;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: 40.5px;
}

.logo span {
  color: var(--light-colors-accent-light);
}
